@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

button {
  cursor: pointer;
}

:root {
  --theme-transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease,
    fill 250ms ease,
    stroke 250ms ease;
}

:root {
  --background: oklch(0.9700 0.0029 264.5420);
  --foreground: oklch(0.2917 0.0676 260.3713);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2917 0.0676 260.3713);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2917 0.0676 260.3713);
  --primary: oklch(0.5616 0.2419 260.9497);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9435 0.0055 274.9635);
  --secondary-foreground: oklch(0.2917 0.0676 260.3713);
  --muted: oklch(0.9700 0.0029 264.5420);
  --muted-foreground: oklch(0.5669 0.0356 261.6453);
  --accent: oklch(0.9521 0.0229 258.3593);
  --accent-foreground: oklch(0.5616 0.2419 260.9497);
  --destructive: oklch(0.6633 0.1852 30.4019);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9096 0.0071 268.5436);
  --input: oklch(82.968% 0.00009 271.152);
  --ring: oklch(0.5616 0.2419 260.9497);
  --chart-1: oklch(0.7174 0.1720 140.4830);
  --chart-2: oklch(0.8726 0.1812 99.6994);
  --chart-3: oklch(0.7827 0.1685 66.3520);
  --chart-4: oklch(0.6544 0.1833 30.4999);
  --chart-5: oklch(0.6902 0.1670 316.0751);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.4369 0.0507 261.3921);
  --sidebar-primary: oklch(0.5616 0.2419 260.9497);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9700 0.0029 264.5420);
  --sidebar-accent-foreground: oklch(0.2917 0.0676 260.3713);
  --sidebar-border: oklch(0.9096 0.0071 268.5436);
  --sidebar-ring: oklch(0.5616 0.2419 260.9497);
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.25;
  --shadow-color: #091e42;
  --shadow-2xs: 0px 1px 4px 0px hsl(217.8947 76% 14.7059% / 0.13);
  --shadow-xs: 0px 1px 4px 0px hsl(217.8947 76% 14.7059% / 0.13);
  --shadow-sm: 0px 1px 4px 0px hsl(217.8947 76% 14.7059% / 0.25), 0px 1px 2px -1px hsl(217.8947 76% 14.7059% / 0.25);
  --shadow: 0px 1px 4px 0px hsl(217.8947 76% 14.7059% / 0.25), 0px 1px 2px -1px hsl(217.8947 76% 14.7059% / 0.25);
  --shadow-md: 0px 1px 4px 0px hsl(217.8947 76% 14.7059% / 0.25), 0px 2px 4px -1px hsl(217.8947 76% 14.7059% / 0.25);
  --shadow-lg: 0px 1px 4px 0px hsl(217.8947 76% 14.7059% / 0.25), 0px 4px 6px -1px hsl(217.8947 76% 14.7059% / 0.25);
  --shadow-xl: 0px 1px 4px 0px hsl(217.8947 76% 14.7059% / 0.25), 0px 8px 10px -1px hsl(217.8947 76% 14.7059% / 0.25);
  --shadow-2xl: 0px 1px 4px 0px hsl(217.8947 76% 14.7059% / 0.63);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2454 0.0096 248.2205);
  --foreground: oklch(0.8088 0.0226 250.2570);
  --card: oklch(0.2694 0.0104 242.0838);
  --card-foreground: oklch(0.8088 0.0226 250.2570);
  --popover: oklch(0.2974 0.0124 243.2614);
  --popover-foreground: oklch(0.8088 0.0226 250.2570);
  --primary: oklch(0.6957 0.1612 257.1847);
  --primary-foreground: oklch(0.2454 0.0096 248.2205);
  --secondary: oklch(0.3173 0.0158 248.3250);
  --secondary-foreground: oklch(0.8088 0.0226 250.2570);
  --muted: oklch(0.2694 0.0104 242.0838);
  --muted-foreground: oklch(0.6829 0.0292 249.9699);
  --accent: oklch(0.2869 0.0455 257.8401);
  --accent-foreground: oklch(0.6957 0.1612 257.1847);
  --destructive: oklch(0.7089 0.1674 26.0408);
  --destructive-foreground: oklch(0.2454 0.0096 248.2205);
  --border: oklch(0.3706 0.0196 248.3540);
  --input: oklch(0.2694 0.0104 242.0838);
  --ring: oklch(0.6957 0.1612 257.1847);
  --chart-1: oklch(0.7652 0.1403 161.9860);
  --chart-2: oklch(0.8600 0.1524 91.8768);
  --chart-3: oklch(0.7941 0.1350 54.9269);
  --chart-4: oklch(0.7089 0.1674 26.0408);
  --chart-5: oklch(0.7035 0.1382 290.0244);
  --sidebar: oklch(0.2149 0.0085 240.3030);
  --sidebar-foreground: oklch(0.7415 0.0268 250.0319);
  --sidebar-primary: oklch(0.6957 0.1612 257.1847);
  --sidebar-primary-foreground: oklch(0.2454 0.0096 248.2205);
  --sidebar-accent: oklch(0.3173 0.0158 248.3250);
  --sidebar-accent-foreground: oklch(0.8088 0.0226 250.2570);
  --sidebar-border: oklch(0.3706 0.0196 248.3540);
  --sidebar-ring: oklch(0.6957 0.1612 257.1847);
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {

  html,
  body,
  button,
  input,
  textarea,
  select,
  div,
  span,
  svg {
    transition: var(--theme-transition);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);

    transition:
      background-color 300ms ease-out,
      color 300ms ease;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}